li.notepad-infos-priority div{
    display: flex;
    justify-content: space-between;
}

li.notepad-infos-priority{
    background: #eb8f7a;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.notepad-infos-priority strong{
    display: block;
    font-size: 16px;
    color: #FFF;
}

li.notepad-infos-priority div div{
    color: #FABBAD;
    cursor: pointer;
}

li.notepad-infos-priority div div:hover{
    color: #FFF;
    transition: 0.2s;
}

li.notepad-infos-priority textarea{
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #FFF;
    border: 0;
    background: #eb8f7a;
    resize: none;
}

li.notepad-infos-priority span{
    color: #FABBAD;
    cursor: pointer;

}

li.notepad-infos-priority span:hover{
    color: #eb8f7a;
    transition: 0.2s;
}